version: "3.9"

services:
  api:
    build: .
    container_name: adoptme-api-v1
    ports:
      - "8085:8085"
    env_file:
      - .env
    volumes:
      - ./src/logs:/app/logs
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production
  mongo:
    image: mongo:latest
    container_name: mongo-adoptme-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data: {}
